#buttonUsername {
	margin-top: 7px;
	margin-bottom: 7px;
	width: 25%;
	color: transparent;
	text-shadow: 0 0 0 white;
}

#buttonPassword, #buttonNewPassword {
	margin-top: 7px;
	margin-bottom: 7px;
	color: transparent;
	text-shadow: 0 0 0 white;
}

#securityAnswer {
	margin-top: 10px;
}

#wrongAnswer, #wrongUsername, #buttonNewPassword, #invalidNewPassword {
	visibility: hidden;
}